#window-modal{
  width: 600px;
  height: 350px;
  position: absolute;
  left: calc( 50% - 300px );
  top: calc( 50% - 175px );
  background: url(/img/interface/window/background.jpg) no-repeat;
  z-index: 2;
}
#window-modal-message-buttom-close{
  position: absolute;
  width: 10px;
  height: 10px;
  left: 580px;
  top: 5px;
  z-index:2;
}
#window-modal-message-caption{
  position: absolute;
  width: 600px;
  height: 20px;
  left: 30px;
  top: 5px;
}
#window-modal-message{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
overflow-x: scroll;
overflow-y: scroll;
}
#window-modal-message-text{
  position: absolute;
  height: 300px;
  left: 0;
  top: 50px;

}
.classic{
 background: #030609;
 border: 1px solid #FAFAF7;
}
.tooltip{
 border-bottom: 1px dotted #000000;
 color: #000000;
 cursor: help;
 outline: none;
 position: relative;
 text-decoration: none;
}
.tooltip span{
 margin-left: -999em;
 position: absolute;
}
.tooltip:hover span{
 border-radius: 5px 5px;
 box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
 font-family: Calibri, Tahoma, Geneva, sans-serif;
 left: 1em;
 margin-left: 0;
 moz-border-radius: 5px;
 moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
 position: absolute;
 top: 2em;
 webkit-border-radius: 5px;
 webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
 width: 250px;
 z-index: 99;
}
.tooltip:hover img{
 border: 0;
 float: left;
 margin: -10px 0 0 -55px;
 position: absolute;
}
.tooltip:hover em{
 display: block;
 font-family: Candara, Tahoma, Geneva, sans-serif;
 font-size: 1.2em;
 font-weight: bold;
 padding: 0.2em 0 0.6em 0;
}
