a:link{
  color: black;
}

a{
  color: black;
}

a:visited {
  color: black;
}

#site-head{
position: fixed;
top: 0;
left: 0;
width: 100%;
}

.text-head-class{
  font-size: 25pt;
}

#text-head{
  position: absolute;
  top: 0;
  left: calc(100% / 2 - 240px);
}

#menu{
  position: absolute;
  top: 70px;
  left: 10px;
}

#bottom1{
  position: absolute;
  top: 20px;
}

#bottom2{
  position: absolute;
  top: 60px;
}

#bottom3{
  position: absolute;
  top: 100px;
}

#bottom4{
  position: absolute;
  top: 140px;
}

.bottom{
background: #CCC;
width: 100px;
height: 30px;
margin: 20px 0 0 0;
}

.bottom-text{
  position: absolute;
  left: 10px;
  top: -10px;
}

#content{
  position: absolute;
  left: 130px;
  top: 100px;
}