.map-cell{
  width: calc( 100% / 19 );
  height: calc( 100% / 11 );
}
.map-cell:hover{
  background: #fff;
}
.map-cell-1-x{
  position: absolute;
  top: calc( 100% / 10 );
}
.map-cell-2-x{
  position: absolute;
  top: calc( ( 100% / 10 ) + 9%);
}
.map-cell-3-x{
  position: absolute;
  top: calc( ( 100% / 10 ) + 18%);
}
.map-cell-4-x{
  position: absolute;
  top: calc( ( 100% / 10 ) + 27%);
}
.map-cell-5-x{
  position: absolute;
  top: calc( ( 100% / 10 ) + 36%);
}
.map-cell-6-x{
  position: absolute;
  top: calc( ( 100% / 10 ) + 45%);
}
.map-cell-7-x{
  position: absolute;
  top: calc( ( 100% / 10 ) + 54%);
}

.map-cell-x-1{
  position: absolute;
  left: calc( 100% / 20 + 40px );
}
.map-cell-x-2{
  position: absolute;
  left: calc( ( 100% / 20 ) + 5% + 40px );
}
.map-cell-x-3{
  position: absolute;
  left: calc( ( 100% / 20 ) + 10% + 40px );
}
.map-cell-x-4{
  position: absolute;
  left: calc( ( 100% / 20 ) + 15% + 40px );
}
.map-cell-x-5{
  position: absolute;
  left: calc( ( 100% / 20 ) + 20% + 40px );
}
.map-cell-x-6{
  position: absolute;
  left: calc( ( 100% / 20 ) + 25% + 40px );
}
.map-cell-x-7{
  position: absolute;
  left: calc( ( 100% / 20 ) + 30% + 40px );
}
.map-cell-x-8{
  position: absolute;
  left: calc( ( 100% / 20 ) + 35% + 40px );
}
.map-cell-x-9{
  position: absolute;
  left: calc( ( 100% / 20 ) + 40% + 40px );
}
.map-cell-x-10{
  position: absolute;
  left: calc( ( 100% / 20 ) + 45% + 40px );
}
.map-cell-x-11{
  position: absolute;
  left: calc( ( 100% / 20 ) + 50% + 40px );
}
.map-cell-x-12{
  position: absolute;
  left: calc( ( 100% / 20 ) + 55% + 40px );
}
.map-cell-x-13{
  position: absolute;
  left: calc( ( 100% / 20 ) + 60% + 40px );
}
.map-cell-x-14{
  position: absolute;
  left: calc( ( 100% / 20 ) + 65% + 40px );
}
.map-cell-x-15{
  position: absolute;
  left: calc( ( 100% / 20 ) + 70% + 40px );
}
.terrain-ozero{
  background-image: url(img/texture/ozero.png);
}
.terrain-pust{
  background-image: url(img/texture/pust.jpg);
}
.terrain-wald{
  background-image: url(img/texture/wald.gif);

}
.terrain-step{
  background-image: url(img/texture/step.jpg);

}
.terrain-berg{
  background-image: url(img/texture/berg.jpg);

}
.terrain-trawa{
  background-image: url(img/texture/trawa.jpg);

}
.terrain-t_zemla{
  background-image: url(img/texture/t_zemla.jpg);

}
.terrain-sw{
  background-image: url(img/texture/sw.jpeg);

}
.map-navigation-elements{
  background: #77D;
}
.map-navigation-elements:hover{
  background: #228;
}
#map-navigation-element-8{
  position: absolute;
  left: calc( ( 100% / 4 ) - 4% );
  top: calc( ( 100% / 20 ) );
  width: calc( 100% / 2 );
  height: calc( ( 100% / 50 ) + 3% );
}
#map-navigation-element-4{
  position: absolute;
  left: calc( ( 100% / 50 ) + 1% );
  top: calc( ( 100% / 2 ) - 27% );
  width: calc( ( 100% / 50 ) + 3% );
  height: calc( 100% / 3 );
}
#map-navigation-element-6{
  position: absolute;
  left: calc( 100% - ( 100% / 7 ) );
  top: calc( ( 100% / 2 ) - 27% );
  width: calc( ( 100% / 50 ) + 3% );
  height: calc( 100% / 3 );
}
#map-navigation-element-2{
  position: absolute;
  left: calc( ( 100% / 4 ) - 4% );
  top: calc( 100% -  ( 100% / 4 ) );
  width: calc( 100% / 2 );
  height: calc( ( 100% / 50 ) + 3% );
}
.castle{
  position: absolute;
  top: -17px;
  left: 0;
  width: 70%;
  height: 90%;
  background-image: url(img/castle/castle.png);
}
.lager{
  position: absolute;
  top: -13px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/lager/lager.png);
  background-repeat: no-repeat
}
.lager-name{
  position: absolute;
  top: 36%;
  left: 5px;
  text-align: center;
  z-index: 2;
  font-size: 12pt;
  font-family: Garamond;
  text-transform: uppercase;
  color: #FFF;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228, 0 0 70px #228, 0 0 80px #228, 0 0 100px #228, 0 0 150px #228;
}
.lager-name:hover{
  color: #000;
}