#cell{
  display: block;
  width: 90%;
  height: 80%;
  position: fixed;
  top: calc( 10% - 2px );
  left: calc( 5% - 3px );
  background: #AAA;
  z-index: 1;
}
#window-cell-buttom-close{
  position: absolute;
  top: 0;
  left: calc( 100% - 48px );
}
.walls{
  position: absolute;
  top: 0;
  left: 0;
}