@font-face {
  font-family: IndustryTMC; /* Гарнитура шрифта */
  src: url(fonts/IndustryTMC.otf); /* Путь к файлу со шрифтом */
}
.text{
  font-family: IndustryTMC;
  font-size: 28pt;
  color: #FFF;
}
#window-loading-window{
  background-color: #000;
  position: fixed;
  top: 30%;
  left: 20%;
  width: 60%;
  height: 40%;
  z-index: 6;
  opacity: 1;

}
#window-loading-fon{
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0.7;
}
.panel-up{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: #22F;
  font-size: 13pt;
  color: #AAA;
  z-index: 1;
}
.map_cell{
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 60px;
  border: solid 1px black;
}















